{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "case-types/banks/*.txt",
      "options": { "parser": "json" }
    },
    {
      "files": "dev/fixtures/my-stats/*.txt",
      "options": { "parser": "json" }
    }
  ]
}
